
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNIWIS-USER</title>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <script src="../javascripts/user.js"></script>
   <style>
    .mockContainerLine{
      background: linear-gradient(30deg, #ffa618, #f0053f 60.07%, #249aa2 80.05%);
      content: " ";
      width: 4px;
      margin: 0px -50px 0px 30px;
      border-radius: 5px;

      
    }
   </style>
</head>
<body style="padding: 0px; margin: 0px;z-index: -1;" id="body">

  <!-- BusyIndicator -->
  <div id="loadBusyIndicator" style="visibility:<%= BusyIndicator.BusyIndicator %> ;height: 100vh;width: 100vw; background-color: rgba(101, 146, 214, 0.418);z-index: 2;position: fixed;display: flex;align-items: center;justify-content: center;margin-top: -3px;">
    <div class="spinner-grow" role="status" style="height: 50px;width: 50px;">
      <span class="sr-only"></span>
    </div>
  </div>
<!-- .................... -->
 
<div id="alert1" style="display:none;width:350px;text-align: center;position: absolute;left: 40%;top:1% ;z-index: 100;background-color: rgba(210, 214, 213, 0.826);border-radius: 5px;padding: 2px;border: 1px solid black;" role="alert">Welcome</div>
 
 
  <div class="loader"></div>
 
  <!-- ********************************User Notification popup****************************** -->
  <!-- ******************************************************************************** -->
 
  <div style="padding-bottom: 30px;width: 90%;height: 80%;background-color:white;position: absolute;top:10%;left: 5%;display: none;z-index: 2;border-radius: 10px;border: 2px solid black;" id="UserNotificationPopUp">
   
 
    <div style="scroll-behavior: smooth;">
      <div style="border-radius: 10px;border-radius: 10px;padding: 6px 0px 0px 0px;" class="table-responsive">
        <table border='1' style="text-align: center;"  class="table table-bordered" id="userNotificationReviewpopup" >
          <tr style="background-color: rgb(97, 97, 233);" ><th style="color:black;">Employee Id</th><th  style="color:black;">Requested Date</th><th>Status</th><th>Type of Mock</th><th  style="color:black;">Action</th></tr>


          <%
          var oReviewBtnStatus;
          var oBtnStatus;
          var oReviewBtnStatus;
          var aEmployeesData = []        
          if(oReviewEmpData.length > 0)
          {
            oReviewEmpData.forEach((data)=>{
              if(data.selectedId === loggedUser1  )
              {
                if(data.Status == "Pending" ){
                  oReviewBtnStatus = "disabled"
                  oBtnStatus = ""
                }
                else if(data.Status == "Accepted" ){
                  oReviewBtnStatus = ""
                  oBtnStatus = "disabled"
                }
                else if(data.Status == "Rejected" ){
                  oReviewBtnStatus = "disabled"
                  oBtnStatus = "disabled"
                }
                else{
                  oReviewBtnStatus = "disabled"
                  oBtnStatus = "disabled"
                }
                                
                  %>
                  <!-- <td><%= loggedUser1 %></td> -->
                  <td><%= data.User_Id %></td>
                  <td><%= data.Requested_Date %></td>
                  <td><%= data.Status %></td>
                  <td><%= data.Mock_Type %> <input style="display: none;" name="Mock_Type" value="<%= data.Mock_Type %>"></td>
                  <td ><button class="btn btn-sm btn-success" style="border: 1px solid rgb(13, 13, 13);border-radius: 6px;padding:4px 15px;text-decoration: none;"  <%= oBtnStatus %>><a href="/user/mail/<%= data.Request_Id %>/<%= data.User_Id %>/<%= data.Mock_Type == 'Monthly Mock' ? 'monthlyMock' : 'hierarchyMock' || data.Mock_Type == 'Hierarchy Mock' ? 'hierarchyMock' : 'Technology completion Mock' %>" style="color: white;text-decoration: none;" >Accept</a></button>
                    <button style="border: 1px solid rgb(13, 13, 13);border-radius: 6px;padding:4px 15px;text-decoration: none;" class=" ms-2 btn btn-sm btn-danger" <%= oBtnStatus  %>><a href="/user/delete/<%= data.User_Id %>/<%= data.Mock_Type %>" style="color: white;text-decoration: none;">Reject</a></button>
                    <button style="border: 1px solid rgb(13, 13, 13);border-radius: 6px;padding:4px 15px;text-decoration: none;" class=" ms-2 btn btn-sm btn-secondary" <%= oReviewBtnStatus %>><a href="/<%= data.Mock_Type == 'Monthly Mock' ? 'monthlyMock' : 'hierarchyMock' || data.Mock_Type == 'Hierarchy Mock' ? 'hierarchyMock' : 'Technology completion Mock' %>/<%= data.User_Id %>" style="color: white;text-decoration: none;" >Review</a></button>
                  </td>
                  </tr>
                  <%
              
              }
                

            })
          }
          else
          {
          %>
        <tr>
            <td style="position: relative; left: 35%;">No Data Found</td>
        </tr>
        <%
        }
        %>
        </table>
      </div>
    </div>
    <div style="position: fixed;top: 82%;left: 88%;">
      <button onclick="UserNotificationPopUp()" style="background-color: red;padding: 3px 15px 3px 15px;border-radius: 5px;border-color: rgba(207, 207, 207, 0.687);">Close</button>
    </div>
  </div>
 
 
                                                <!-- user Reviewer popup  -->
 
   <div style="padding-bottom: 30px;width: 90%;height: 85%;background-color:rgb(255, 255, 255);position: absolute;top:10%;left: 5%;display: none;z-index: 10;border-radius: 10px;border: 2px solid black; overflow: auto; " id="userReviewId">
 
      <div style="position: sticky;top:0px; background-color: rgb(255, 255, 255);z-index: 100;margin:-17px 0px 0px 0px;padding-top:5px">
        <div class="row mt-3 mb-3 w-100" >
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <input type="search" name="SearchByEMPId" id="SearchByEMPId" onkeyup="searchByEMPId()"  placeholder="search by employee id " style="width:100%;height: 30px;text-align: center;letter-spacing: 2px;">
     
          </div>
          <div class="col-md-3 ">
            <input type="search" name="SearchByEMPName" id="SearchByEMPName" onkeyup="searchByEMPName()"  placeholder="search by  name" style="width:100%;height: 30px;text-align: center;letter-spacing: 2px;">
     
          </div>
          <div style="position:relative; left:33%;width: max-content;"> 
            <button onclick="closeEmpDetails()" style="background-color: red;padding: 3px 15px 3px 15px;border-radius: 5px;border-color: rgba(207, 207, 207, 0.687);">Close</button>
          </div>
      </div>
     
     
     
            <div class="row mb-2 w-100">
              <div class="col-md-8 col-sm-8">
                <div class="text-center" style=" font-weight: bold; font-size: large; color: cadetblue;">EMPLOYEE REVIEW</div>
              </div>
              <div class="col-md-3 col-sm-3" >
              </div>
            </div>
         
 
 
            <hr style="width: auto;border: 1px solid black;">
      </div>
     
 
          <div class="table-responsive w-100" >
            <table border="1"  id="RecordsTable" class="table table-hover" style="position: sticky;top: 0px;"  >
             
              <tr class="tableHeading"><th>Employee Id</th><th>Name</th><th>Department</th><th>Designation</th><th>Mail Id</th> <th>Type of Mock <th>Action</th></tr>
              <%
              var aEmployeesData1 = []
              oEmp_Data.forEach((data)=>{
                if(session.EmpId == data.Employee_Id)
                {
     
                }
                else{
                  aEmployeesData1.push(data)
                }
              })
              if(oEmp_Data.length >0)
              {
                aEmployeesData1.forEach((data, index)=>{
                 
               %>
               <tr class='searchbyName searchbyID' id="<%= data.Employee_Id %>" >
                <td><%= data.Employee_Id %></td>
                 <td><%= data.Employee_Name %></td>
                 <td><%= data.Employee_Department %></td>
                 <td><%= data.Employee_Designation %></td>
                 <td><%= data.Employee_Email %></td>
                 <td>
                    <select class="form_select_mockType"  aria-label="Default select example">
                      <option selected>--Select Review--</option>
                      <option value="monthlyMock">Monthly Mock</option>
                      <option value="hierarchyMock">Hierarchy Mock</option>
                      <option value="KPI">KPI</option>
                    </select>
              </td>
                 
                 
                 <td><p  onclick="ClicktoViewEm(<%= data.Employee_Id %>, <%= index %>)" style="background-color: rgb(154, 153, 153);color: white; text-decoration: none;padding: 4px 8px 4px 8px;border-radius: 4px;width: 80px;" >Review</p></td>
                 </tr>
                 <%
                  })
                }
                else
                {
                %>
              <tr>
                  <td>No Data Found</td>
              </tr>
              <%
              }
              %>
            </table>
          </div>
         
   </div>
   
   
                                                  <!-- User review poup -->
 
   <div id="bodyContainer">
 
      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 2%;box-shadow: 0px 1px 4px 0px gray;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user">
          <img src="../images/logo.jpg" alt="" height="90px" width="150px" style="margin-left: 10px;">
           
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <div class="row"> -->
              <div class="col-md-10" >
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                <h2 id="orgTitle" style="color:rgb(34, 155, 199) ;margin-left: 30%;">--Rating Application--</h2>
 
                  </div>
                  <div class="col-md-2"></div>
                </div>
 
              </div>
              <div class="col-md-2">
                <div style="display: flex; align-items: center; justify-content: space-evenly;">
                  <div style="display: flex; justify-content: space-between; gap: 20px;">
                    <img src="../images/notification.png" onclick="UserNotification()"  id="UserNotification" alt="User" width="34px" height="30px"/>
                    <a href="./home"><img src="../images/logout-8-512.png" alt="Logout" id="ologout" width="30px" height="30px"/></a>
                </div>
              </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
       
      </nav>
    </div>
 
 
  <!-- **********************************User Info************************************* -->
  <!-- ********************************************************************************* -->
  <!-- display:none; -->
  <div id="infoPopUp" style=" margin-right: 8px;margin-top: -10px;position:absolute;top:75px;right:30px;display:none">
  <div style="background-color: white; width: max-content;border-radius: 10px;padding-bottom:10px ;box-shadow: 0px 0px 5px 1px;">
    <div style="display: flex;justify-content: flex-end;">
      <% oEmp_Data.forEach((element,index)=>{
        if(element.Employee_Id == session.EmpId){
          %>
      <img width="160px" height="170px" style="border-radius: 5px;"  src= "data:image/png;base64,<%= element.IMG_file %>"" >
      
    </div>
   
    <div id="innerwelcome" style="padding: 10px 20px 20px 20px;">
          <p id="EmployeeId">Employee_Id : <%= session.EmpId  %> </p>
          <p>Name : <%= session.Name  %></p>
          <p>Department : <%= session.Dept  %></p>
          <p>Email : <%= session.Email  %></p>
    </div>
    </div>
   
</div>
 
 
    <div style="display: flex;justify-content: center;">
      <div style="">
        <div id="userInfoBlur" style="display: flex;width: max-content;">
 
          <div style="display: flex; gap:20px;" id="tUserInfo">
            
              <img width="220px" height="250px" src="data:image/png;base64,<%= element.IMG_file %>" style="border:2px solid black;border-radius: 6px;margin: 0% 0% 0% 49px;box-shadow: 0px 0px 10px 5px gray;"/>
            
            <div class="col-md-7" style="padding: 5px 0px 0px 20px;width: inherit; border-left: 2px solid black;">
              <h2 style="font-weight: bold;letter-spacing: 2px;"><%= session.Name  %></h2>
              <p ><b>Employee_Id :</b> <%= session.EmpId  %> </p>
              <p><b>Department :</b> <%= session.Dept  %> Consultant</p>
              <p><b>Email :</b> <a href= "#" target="_blank"><%= session.Email  %></a> </p>
              
                  <p><b>No.of Mock Taken:</b> <%= element.Employee_Mock_Taken %> </p>
                  <p><b>No.of Mock Given:</b> <%= element.Employee_Mock_Given %> </p>
                  <%
                }
              }) %>
            </div>
          </div>
    </div>
    
      <div style="display:none;margin:20px 10px 0px 150px;">
        <button style="width: 300px; border-radius: 5px;text-align:center;letter-spacing: 5px;font:bold" onclick="displayEmpDetails()">UPDATE REVIEW</button>
      </div>
      
    </div>
    <div class="mockContainerLine" style="margin-left: 80px;visibility: <%= LeadCheck %>;"> </div>
    
      <div style="margin-left: 80px;visibility: <%= LeadCheck %>;">
        
        <div style="margin-left: 20px;">
          <h4 style="display: flex;align-items: center;justify-content: center;font-family: Georgia, serif;letter-spacing: 3px;" >Mock  Activity</h4>
          <form method="POST" action="user/leadMockRequest" id="requestRatingID">
          <div style="display: flex; margin: 60px 20px 20px 0px;gap: 40px;">
            
  
            <select style="text-align: center;width: max-content;" class="form-select" id="formEmpDesignation1" aria-label="Default select example" name="Reviewer_name" onchange="onSelectReviewer_name()">
              <option selected value="">--Select Mentor--</option>
              <%
              
                var deptName = oEmp_Data.filter((val)=>{
                  if (val.Employee_Id == loggedUser1){
                    return val.Employee_Department;
                  }
                });
  
                if (oEmp_Data.length > 0) {
                  oEmp_Data.forEach((data) => {
                    if ((deptName[0].Employee_Department == data.Employee_Department)) {
                      
  
              %>
                      <option value="<%= data.Employee_Name %><%= ',' %><%= data.Employee_Id %><%= ',' %><%= data.Employee_Email %>">
                        <%= data.Employee_Name %>
                      </option>
              <%
                    }
                  });
                }
              %>
            </select>
            
            <select style="text-align: center;width: max-content;" class="form-select" id="formEmpDesignation2" aria-label="Default select example" name="Reviewer_name2" onchange="onSelectReviewer_name2()">
              <option selected value="">--Select Mentee--</option>
              <%
              
                var deptName = oEmp_Data.filter((val)=>{
                  if (val.Employee_Id == loggedUser1){
                    return val.Employee_Department;
                  }
                });
  
                if (oEmp_Data.length > 0) {
                  oEmp_Data.forEach((data) => {
                    if ( !(data.Employee_Id == loggedUser1) && (deptName[0].Employee_Department == data.Employee_Department)) {
                      
  
              %>
                      <option value="<%= data.Employee_Name %><%= ',' %><%= data.Employee_Id %>">
                        <%= data.Employee_Name %>
                      </option>
              <%
                    }
                  });
                }
              %>
            </select>

            
          </div>
          <br>
          <div style="display: flex;gap: 40px;margin: 0px 20px 0px 0px">
            <select class="form-select" id="selectRatingsId" name="Mock_Type" onchange="onSelctReviewtype()" style="text-align: center;">
              <option selected value="">--Select Activity--</option>
              <option value="Monthly Mock">Monthly Mock</option>
              <option value="Hierarchy Mock">Hierarchy Mock</option>
              <option value="Technology completion Mock">Technology completion Mock</option>
            </select>

            <input
            style="padding: 6px 63px; border-radius: 5px; background-color: #212529; color: white;font-weight: bold;letter-spacing: 2px;"
            type="submit"
            id="requestRating"
            onclick="handleSubmit()"
            value="Request Rating"
          > 
          </div>
        </form>
        </div>
      </div>
    </div>
 
    <div id="adminNotification" >
                <% if(message.length > 0){  %>
                  <div class="alert alert-success" id="alert" style="margin-top: 10px;width:250px; margin: 50px auto;text-align: center;" role="alert">
                    <%= message %>
                  </div>
                <% } %>
    </div>
 
<script>

  function loadBusyIndicator(){
    document.getElementById("loadBusyIndicator").style.visibility = "visible"
   }

  function handleSubmit(){
    debugger
    document.getElementById("loadBusyIndicator").style.visibility = "visible";
    
    document.getElementById('requestRatingID').addEventListener('submit',(e)=>{
      e.preventDefault()
    });

    var oSelectRatings = document.getElementById('selectRatingsId');
    var MentorName = document.getElementById('formEmpDesignation1');
    var MenteeName = document.getElementById('formEmpDesignation2');
    if(oSelectRatings.value == ""){
        document.getElementById('alert1').style.display = 'block';
        document.getElementById('alert1').innerHTML = `Please Select Activity Type`;
        setTimeout(()=>{
        document.getElementById('alert1').style.display = 'none';

        },3000)

    }
    else if(MentorName.value == ""){

      document.getElementById('alert1').style.display = 'block';
      document.getElementById('alert1').innerHTML = `Please Select Mentor`;
        setTimeout(()=>{
        document.getElementById('alert1').style.display = 'none';

        },3000)
    }
    else if(MenteeName.value == ""){

      document.getElementById('alert1').style.display = 'block';
      document.getElementById('alert1').innerHTML = `Please Select Mentee`;
        setTimeout(()=>{
        document.getElementById('alert1').style.display = 'none';

        },3000)
    }
    else if(MenteeName.value == MentorName.value){

      document.getElementById('alert1').style.display = 'block';
      document.getElementById('alert1').innerHTML = `Please change values, Mentor & Mentee `;
        setTimeout(()=>{
        document.getElementById('alert1').style.display = 'none';

        },3000)
    }
    else {
      document.getElementById('requestRatingID').submit();
    }
  }
 
function ClicktoViewEm(id, index){
  debugger
 var sMockType =  document.getElementsByClassName('form_select_mockType')[index].value;
 
  location.href= `/${sMockType}/${id}`;
}
 
                                    // search functionalities
 
   const searchByEMPId = ()=>{
    debugger
    const searchbox = document.getElementById("SearchByEMPId").value
    const storeitems = document.getElementById("RecordsTable")
    const product = document.querySelectorAll(".searchbyID")
    const pname = storeitems.getElementsByTagName("td")
 
    for(var i=0;i<pname.length;i++){
        let match = product[i].getElementsByTagName('td')[0]
 
        if(match){
           let textvalue = match.textContent || match.innerHTML
 
           if(textvalue.toUpperCase().indexOf(searchbox)>-1){
            product[i].style.display = "";
           }else{
            product[i].style.display = "none";
           }
 
        }
    }
}
 
  const searchByEMPName = ()=>{
    debugger
  const searchbox = document.getElementById("SearchByEMPName").value.toUpperCase()
  const storeitems = document.getElementById("RecordsTable")
  const product = document.querySelectorAll(".searchbyName")
  const pname = storeitems.getElementsByTagName("td")
 
  for(var i=0;i<pname.length;i++){
      let match = product[i].getElementsByTagName('td')[1]
 
      if(match){
         let textvalue = match.textContent || match.innerHTML
 
         if(textvalue.toUpperCase().indexOf(searchbox)>-1){
          product[i].style.display = "";
         }else{
          product[i].style.display = "none";
         }
 
      }
  }
}
// *************************************************
 
 
    function onReviewButton(event){
      debugger
      // event.preventDefault();
      document.getElementById("bodyContainer").style.filter = 'blur(8px)';
      document.getElementById("userInfoBlur").style.filter = 'blur(8px)';
    document.getElementById("UserNotificationPopUp").style.display="none"
    document.getElementById("Mode_of_review").style.display="block"
 
    }
   </script>
   <script>
 
    function displayEmpDetails(){
      debugger
      document.getElementById("bodyContainer").style.filter = 'blur(8px)';
      document.getElementById("userInfoBlur").style.filter = 'blur(8px)';
      document.getElementById('userReviewId').style.display= 'block';
 
    }
function closeEmpDetails(){
  document.getElementById('userReviewId').style.display= 'none';
  document.getElementById("bodyContainer").style.filter = 'blur(0px)'
  document.getElementById("userInfoBlur").style.filter = 'blur(0px)';
 
 
 
}
    function AdminNotificationHide(){
        debugger
        var oContainer = document.getElementById('adminNotification');
        setTimeout(()=>{
            oContainer.style.display='none'
        },5000)
    }
    AdminNotificationHide();
 
    window.addEventListener("load", () => {
  const loader = document.querySelector(".loader");
 
  loader.classList.add("loader--hidden");
 
  loader.addEventListener("transitionend", () => {
    document.body.removeChild(loader);
  });
});
 
    </script>
</body>
</html>
 